<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.csgosource.android">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.version" android:version="0x00403000" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <application android:label="CSGO Android" android:appCategory="game"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:icon="@android:drawable/ic_media_play"
        android:allowBackup="false" android:debuggable="false" android:extractNativeLibs="true"
        android:enableOnBackInvokedCallback="false">
        <meta-data android:name="SDL_ENV.SDL_ANDROID_ALLOW_RECREATE_ACTIVITY" android:value="1" />
        <activity android:name="com.csgosource.android.LauncherActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.csgosource.android.GameActivity" android:exported="false" android:launchMode="singleTop"
            android:process=":game"
            android:screenOrientation="sensorLandscape"
            android:configChanges="layoutDirection|locale|fontScale|fontWeightAdjustment|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation|density"
            android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen" />
    </application>
</manifest>
